<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Project-Passport</title>
    <style>
      html, body, #root {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function onError(error) {
        var data = JSON.stringify({
          error: error.stack || error.message
        });

        /*var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://ERROR/error", true);
        xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
        xhr.send(data);*/
      }

      window.addEventListener("unhandledrejection", function (event) {
        onError(event.reason);
      });

      window.onerror = function (message, location, line, column, error) {
        if (!error) {
          onError(new Error(message));
          return;
        }

        if (error.stack && error.stack.indexOf("invokeGuardedCallbackDev") !== -1) return;

        onError(error);
      };
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app</noscript>
    <div id="root"></div>
  </body>
</html>
